<div class="city-search-content">
<p class="city-search-label">How's the weather in...</p>
  <div class="ng-autocomplete">
    <ng-autocomplete
      [data]="countries"
      [searchKeyword]="keyword"
      placeHolder="Enter the Country Name"
      (selected)='selectEvent($event)'
      (inputChanged)='onChangeSearch($event)'
      (inputFocused)='onFocused($event)'
      historyIdentifier="countries"
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
</div>
