.city-search-content{
  display: inline-block;
  min-width: 350px;
  max-width: 350px;
  font-family: Tahoma, serif;
}
.weather-info-content{
  max-width: 680px;
  text-align: center;
  margin-top: 80px;
}
.city-search-label {
  text-align: center;
  font-weight: bold;
  color: #676767;
}
.search-form{
  min-width: 280px;
}

.city-input {
  background-color: #f8fafa;
  height: 25px;
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #f8fafa;
  border-radius: 1px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.45em 0 !important;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-13px; }
::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }

.search-button{
  border-radius: 18px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #6aaee5 !important;
}
button.search-button ::ng-deep .mat-icon{
  padding: 0.35em 0 !important;
}
mat-form-field ::ng-deep .mat-icon{
  padding: 0.35em 0 !important;
}

.search-result{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 680px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 55px;
  width: 160px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.search-result .card:not(:last-child) {
  margin-right: 0;
}

.search-result .card:not(.highlight-card) {
  cursor: pointer;
}

.search-result .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.weather-icon{
  border:none;
  width:48px;
  height:48px;
}
.city-weather-info{
  width:120px;
  max-width:120px;
}

.city-name {
  display: inline-block;
  max-width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px  ;
}

button.remove-city {
  position: relative;
  left: 62px;
  top: 6px;
  padding:0;
  border:none;
  background-color: inherit;
}
button.remove-city:focus{
  border: none;
  outline: none;
}
img.celsius{
  width:20px;
  height:20px;
  padding-bottom: 10px;
}

span.temperature{
  font-size: xx-large;
  font-weight: bolder;
}
