.city-search-content{
  margin-top: 80px;
  min-width: 300px;
  font-family: Tahoma;
}

.city-search-label {
  text-align: center;
  font-weight: bold;
  color: #676767;
}
.search-form{
  min-width: 280px;
}

.city-input {
  background-color: #f8fafa;
  height: 25px;
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #f8fafa;
  border-radius: 5px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-15px; }
::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }

::ng-deep .mat-icon{
  height:39px !important;
  width:39px !important;
}

